doctype html
html 
  head
    link(href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style
      include ./materialize.min.css
      include ./index.css
      
  body
    .bg(style='background-image: url(' + bgUrl + ')') 

    .wrapper
      .logo-section
        .logo
          include ./new-logo.svg
        .border
          
        .name  
          include ./name.svg

      .spacer
      
      .main
        .client-info
          .invoice-number Factuur #{invoiceInfo.invoiceNumber}
          .name-and-address
            p.name #{receiver.name} 
            p.address #{receiver.address.streetAddress}, #{receiver.address.postalCode} #{receiver.address.city}

        .basic-info
          .group
            p.phone
              i.material-icons local_phone
              | #{sender.phone}
            .email 
              i.material-icons email
              | #{sender.email}
            p.address 
              i.material-icons location_on
              | #{sender.address.streetAddress} #{sender.address.postalCode} #{sender.address.city}
          .group
            p.btw BTW: #{sender.btw}
            p.kvk KvK: #{sender.kvk}
            p.bank IBAN: #{sender.iban}
          .group
            p.invoice-date Factuurdatum: #{invoiceInfo.invoiceDate}
            p.invoice-number Factuurnummer: #{invoiceInfo.invoiceNumber}
        
        .spacer

        .table
          table
            thead
              tr
                th.name Omschrijving
                th.narrow Bedrag
                th.narrow Aantal
                th.narrow BTW
            tbody
              each item in items
                tr
                  td.name #{item.name}
                  td.narrow.price € #{item.price}
                  td.narrow #{item.quantity}
                  td.narrow #{item.taxRate}%
          table
            tbody.total-table-body
              tr.total-section
                td.label Subtotaal             
                td.price € #{totals.subtotal}
              tr.total-section
                td.label BTW
                td.price € #{totals.taxTotal}
              tr.total-section
                td.label Totaal            
                td.price € #{totals.total}
